// You can call the complete framework, but if only using certain 
// features just call them individually (will improve compilation speed)
// @import "compass";



// Import Sass mixins, variables, Compass modules, etc. */
@import 'init';

// HTML element (SMACSS base) rules */
@import 'normalize';

// http://geoffgraham.me/animate-scss/
@import 'animate';


// Layout rules */
@import 'layouts/responsive';

// Component (SMACSS module) rules */
@import 'components/misc';


// sass filter effects */

@import 'filter';

// Demo: Replace with your styles

html {
  background-color: #f3f3f3;
  color: #333;
}

body {
  padding: 20px;
}

.nav {

  @include clearfix;
  padding: 0;
  list-style: none;

    > li {

    float: left;

    > a {
      background-color: #2f2f2f;
      color: #fff;
      margin: 3px;
      padding: 5px 10px;
      display: inline-block;
      text-decoration: none;
      border-radius: 3px;
    }

      &:first-child > a {
        border-left:none;
      }

      &.current > a {
        background-color: $and-green;
        color: #000;
      }
  }
}


/* =general styles */


h1,
h2,
h3 {
  font-family: $intervallight;
  background: $and-green;
  padding: 0.25em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
}




/* header */

.region-header {
  padding-top: 10px;
  
  .nav {
    margin: 10px 0;
  }
}

.header {
   
   @include clearfix();
   
   .header__logo {
     float: left;
   }

   h1 {
     float: left;
     font-size: 32px;
     margin: 0;
     line-height: 1.2;
     padding: 0;
     background: inherit;
   }
}




/* main page content */


#page {
  .cssanimations & {
    @include fadeIn();
  }
}


/* sidebars */


.sidebar {

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    a {
      text-decoration: none;
      display: block;
    }
  }
}


/* custom module styling */


/* toc */

li.toc-h2 {
  margin-left: 10px;
  font-size: 90%;
}

li.toc-h3 {
  margin-left: 20px;
  font-size: 80%;
}

