{% block bodytag %}<body class="wrapper html one-sidebar sidebar-first">{% endblock %}




{% block content %}
<h1>This is a page with a left sidebar</h1>
<p>Use this as a template for pages with, yes, a left sidebar :)</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis inventore dolore quas corporis sint optio nemo ea minima praesentium quos, dicta ut ad, cupiditate quibusdam sapiente tenetur quisquam nihil sequi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis inventore dolore quas corporis sint optio nemo ea minima praesentium quos, dicta ut ad, cupiditate quibusdam sapiente tenetur quisquam nihil sequi!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis inventore dolore quas corporis sint optio nemo ea minima praesentium quos, dicta ut ad, cupiditate quibusdam sapiente tenetur quisquam nihil sequi!</p>
{% endblock %}

{% block sidebars %}
<section class="region region-sidebar-first column sidebar">
	<div class="block first">
		<h2 class="block__title">Left sidebar</h2>
		<div class="content">
			<p>This is some block content</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis inventore dolore quas corporis sint optio nemo ea minima praesentium quos, dicta ut ad, cupiditate quibusdam sapiente tenetur quisquam nihil sequi!</p>
		</div>
	</div>

</section>
{% endblock %}